@use "../styles/variables" as vars;

.grid {
  display: grid;
  justify-content: center;

  width: clamp(335px, 86.11vw, 1240px);
  margin: 0 auto;

  gap: clamp(20px, 9.4366px + 2.8169vw, 50px);
  padding: clamp(20px, 6.9718px + 3.4742vw, 57px);

  background-color: vars.$color-grey-light;
  border-radius: 25px;

  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1375px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    background-color: vars.$color-white;
    padding-left: 0;
    padding-right: 0;
  }
}
