@use "../styles/variables" as vars;

.collapse {
  overflow: hidden;
  border-radius: 5px;
  background-color: vars.$color-white;
  width: 100%;
  margin-bottom: 20px;
}

.expandedCollapse {
  background-color: vars.$color-grey-light;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  padding: 0 15px;

  font-weight: bold;
  font-size: clamp(8px, 5.1831px + 0.7512vw, 16px);
  background-color: vars.$color-primary;
  color: vars.$color-white;
  cursor: pointer;
  border: none;

  height: clamp(30px, 22.2535px + 2.0657vw, 52px);
  width: 100%;
}

.icon {
  width: 32px;
  height: 32px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.iconRotated {
  transform: rotate(180deg);
}

.content {
  font-size: clamp(12px, 9.8873px + 0.5634vw, 18px);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expandedContent {
  max-height: 500px;
}

.contentInner {
  padding: 15px 20px;
}

.line {
  line-height: 1.5;

  @media (max-width: vars.$mobile-breakpoint) {
    line-height: 1.4;
  }
}
