@use "../styles/variables" as vars;

.collapse {
  overflow: hidden;
  border-radius: 5px;
  background-color: vars.$color-grey-light;
  width: clamp(335px, 92.7465px + 64.6009vw, 1023px);
  margin: 0 auto;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: 5px;
  padding: 0 15px;

  font-weight: bold;
  font-size: clamp(8px, 5.1831px + 0.7512vw, 16px);
  background-color: vars.$color-primary;
  color: vars.$color-white;
  cursor: pointer;
  border: none;

  height: clamp(30px, 22.2535px + 2.0657vw, 52px);
  width: 100%;
}

.icon {
  width: 44px;
  height: 44px;
  transition: transform 0.3s ease;
  transform-origin: center;
}

.iconRotated {
  transform: rotate(180deg);
}

.content {
  font-size: 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.expandedContent {
  max-height: clamp(150px, 352.8169px + -14.0845vw, 300px);
}

.contentInner {
  padding: 15px 20px;
}
