@use "../styles/variables" as vars;

.header {
  background-color: vars.$color-white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 35px;
  padding-bottom: 50px;

  width: clamp(335px, 86.11vw, 1240px);
  margin: 0 auto;
}

.logo {
  height: clamp(46.88px, 4.72vw, 68px);
  width: auto;
}

.nav {
  display: flex;
  gap: 65px;

  @media (max-width: 768px) {
    gap: 26px;
  }

  a {
    text-decoration: none;
    color: vars.$color-black;

    font-size: clamp(12px, 1.67vw, 24px);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
