@use "../styles/variables" as vars;

.header {
  background-color: vars.$color-white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: clamp(335px, 86.11vw, 1240px);
  margin: 0 auto;
  margin-top: clamp(20px, 3.125vw, 45px);
}

.logo {
  height: clamp(46.88px, 4.72vw, 68px);
  width: auto;
}

.nav {
  display: flex;
  gap: clamp(26px, 12.2676px + 3.662vw, 65px);

  a {
    text-decoration: none;
    color: vars.$color-black;

    font-size: clamp(15px, 11.831px + 0.8451vw, 24px);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }
}
